<launch>
    <arg name="freq_rate" default="8" doc="freq_rate"/>
    <arg name="start_record" default="false"/>
    <param name="freq_rate" value="$(arg freq_rate)"/>
    <node pkg="beginner_tutorials"
          type="talker"
          name="talker_publisher"
          output="screen"/>

    <node pkg="beginner_tutorials"
          type="listener"
          name="listener_subscriber"
          output="screen"/>

	<node pkg="rosbag"
	  type="record"
	  name="record"
	  output="screen"
	  args="-a -O $(find beginner_tutorials)/results/ros_bag" if="$(arg start_record)"/>
</launch>
